<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}Test Silex{% endblock %}</title>
        <link rel="sylesheet" href=""/>
        
    </head>
    <body>
        <nav>
            <a href="{{ url('home') }}" title="Aller à l'accueil" >Accueil</a>
            <a href="{{ url('listusers') }}" title="Voir la liste des utilisateurs">Utilisateurs</a>
        </nav>
        {% block content %}{% endblock %}
        <footer>
            Mon footer
        </footer>
    </body>
</html>

